@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(to bottom right, #3e6283, #050e18);
  color: white;
  margin: 0;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
  
}

.cell {
  width: 100px;
  height: 100px;
  background: white;
  font-size: 3rem;
  font-weight: bold;;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 10%;
}

.circle {
  color: red;
}

.cross {
  color: blue;
}


.status {
  margin-top: 20px;
  text-align: center;
  font-size: 1.5rem;
}

.restart {
  margin-top: 20px;
  padding: 10px ;
  font-size: 1rem;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 10px;
}

.restart:hover {
  background-color: white;
  color: black;
}


.winner {
  background-color: #90ee90; 

}

@keyframes pop {
  0% {
    transform: scale(0.2);
    opacity: 0.2;
  }
  70% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.cell.pop {
  animation: pop 0.3s;
}
